<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <title>Nagaland</title>
  <style type="text/css">
    .jumbotron {
      /* background-image: url("https://www.nationsonline.org/gallery/India/Kanchenjunga-from-Goecha-La.jpg");*/
      background-image: url("https://img.traveltriangle.com/blog/wp-content/uploads/2020/01/12-places-to-visit-in-nagaland-Cover_16th-Jan.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .s {
      font-family: 'Playfair Display', serif;
      text-align: center;
    }
  </style>
</head>

<body>
  <header style="background-color: black;">
    <h1 style="color: aliceblue;text-align: center;">Nagaland</h1>
  </header>
  <div class="jumbotron jumbotron-fluid h-100 pt-5">
    <div class="container m-5">
      <!-- <h1 class="display-4 text-white mb-3"><strong>Nagaland</strong></h1> -->
      <p class="lead text-white">Discover the beauty of Nagaland</p>
    </div>
  </div>


  <h1 class="mt-5 s" id="h2">Top Destinations</h1>
  <hr class="w-50">

  <div class="card-deck">
    <div class="card">
      <img src="imgs/Bihu_Assam.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Ziro_Arunachal.webp" class="card-img-top h-50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Hornbill_nagaland.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Wangala_Meghalya.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
  </div>
  <h1 class="mt-5 s" id="h2">Popular Events</h1>
  <hr class="w-50">

  <div class="card-deck">
    <div class="card">
      <img src="imgs/Bihu_Assam.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Ziro_Arunachal.webp" class="card-img-top h-50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Hornbill_nagaland.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Wangala_Meghalya.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
  </div>


  <h1 class="mt-5 s" id="h3">Ethinic Food</h1>
  <hr class="w-50">

  <div class="card-deck">
    <div class="card">
      <img src="imgs/iromba.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/sha_phaley.jpg" class="card-img-top h-50" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Narasingha_masor_jhol.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Panch_phoran.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
  </div>

  <h1 class="mt-5 s" id="h4">Adventure Activities</h1>
  <hr class="w-50">

  <div class="card-deck">
    <div class="card">
      <img src="imgs/zip.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/raft.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/camp.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
    <div class="card">
      <img src="imgs/Kayaking.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>

      </div>
    </div>
  </div>

</body>

</html>