<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>New Post</title>

  <style type="text/css">
    .card {
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-family: 'Playfair Display', serif;
      text-align: center;
    }

    button {
      margin-left: 48%;

    }
  </style>
</head>

<body>
  <% if (message.length > 0) { %>
  <div class="alert alert-danger col-sm-12"><%= message %></div>
  <% } else {%>
  <h1 class="mt-2" id="h1">View Post</h1>
  <hr class="w-50">

    <div class="box" style="width: 18rem;display: flex;">
      <div class="sub-box" style="border: black;padding-left: 350px;">  
      <img src="http://localhost:3000/imgs/uploads/<%=data[0].images%>" class="card-img-top responsive" alt="...">
        <div class="sub-sub-box" style="display: flex;">
          <a href="/new" class="btn btn-info">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>

      <div class="sub-box" style="border: black;padding-left: 200px;">
        <img src="http://localhost:3000/imgs/uploads/<%=data[0].images%>" class="card-img-top responsive" alt="...">
          <div class="sub-sub-box" style="display: flex;">
            <a href="#" class="btn btn-danger" style="white-space: nowrap;text-align: center;">Request Modify</a>
          </div>
        </div>

        <div class="sub-box" style="border: black;padding-left: 200px;">
          <img src="http://localhost:3000/imgs/uploads/<%=data[0].images%>" class="card-img-top responsive" alt="...">
            <div class="sub-sub-box" style="display: flex;">
              <a href="/new" class="btn btn-info">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>  
  
    </div>
  <% } %>

</body>

</html>